<!--The content below is only a placeholder and can be replaced.-->

<main>
  <nav>
    <div class="brand">
      Dashboard
    </div>
    <ul id="change_page">
      <li class="sub">Administrar</li>
      <li id="chart"class="active" ><a href="#0" (click)="LoadChart(actual)"><i class="material-icons">&#xE871;</i> <span class="item">Dashboard</span></a></li>
      <li id=""><a href="#0"><i class="material-icons">&#xE02F;</i> <span class="item">Reportes</span> <span class="notice">4</span></a></li>
      <li id="map"><a href="#0" (click)="LoadMap(actual)"><i class="material-icons">room</i> <span class="item">Ubicar Escuelas</span> <span class="notice">5</span></a></li>
      <li><a href="#0"><i class="material-icons">&#xE85C;</i> <span class="item">Estadísitcas</span></a></li>
      <li><a href="#0"><i class="material-icons">&#xE916;</i> <span class="item">Calendario</span> </a></li>
      <li><a href="#0"><i class="material-icons">&#xE8D3;</i> <span class="item">Mi perfil</span> </a></li>
    </ul>
    <ul>
      <li class="sub">Soporte</li>
      <li><a href="#0"><i class="material-icons">&#xE0BF;</i> <span class="item">Preguntas</span></a></li>
      <li><a href="#0"><i class="material-icons">&#xE0E0;</i> <span class="item">Historial</span></a></li>
    </ul>
    <button class="button white block" type="button">Cerrar Sesión</button>

  </nav>



  <!--section>
    <div class="top__nav">
      <ul>
        <li>Ayuda <i class="material-icons">&#xE88E;</i></li>
        <li>Alertas<i class="material-icons">&#xE7F4;</i><span class="notification">4</span></li>
        <li>Carlos <i class="material-icons">&#xE5C5;</i></li>
      </ul>
    </div>
    <div class="welcome__block">
        <div>
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg"/>
          <div>
            <h1>Welcome back, John</h1>
            <p>Nice to see you again</p>
          </div>
        </div>
        <div>
          <h1 class="large">3</h1>
          <p>RECOMMENDED SERVICES</p>
          <p><a href="#0">View services</a></p>
        </div>
        <div>
          <span class="alert">
            <h3>Give £20, Get £20</h3>
            <p>For every friend you refer who books an appointment, both you and your friend will get £20</p>
          </span>
        </div>
    </div>

    <div class="grid">
      <div class="column lg12 sm12">
        <div class="advert">
           <button type="button" class="close"><i class="material-icons">&#xE5CD;</i></button>
           <h3>Explore Car Advice</h3>
           <p>Get free advice from certified mechanics. We're powered by a network of top-rated certified mobile mechanics who will come to your location to fix your car.</p>
          <p><a href="#0">Browse articles & questions</a></p>
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="column lg12">
        <h3 class="section__title">Your cars</h3>
      </div>
      <div class="column lg8 md12 sm12">
        <div class="widget">
          <table>
            <thead>
              <tr>
              <td>Car</td>
              <td>Recommended Services</td>
              <td>Last service by</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>2014 Ford Mustang X6 L4.5</td>
                <td><a href="#0">16 Services</a></td>
                <td><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" alt="" class="avatar"> <a href="#0">View service report</a></td>
              </tr>
              <tr>
                <td>2014 BMW X6 L4.5</td>
                <td><a href="#0">0 Services</a></td>
                <td><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mlane/128.jpg" alt="" class="avatar"> <a href="#0">View service report</a></td>
              </tr>
            </tbody>
            </table>
            <div class="add">
              <button type="button" class="add"><i class="material-icons">&#xE147;</i> Add a new car</button>
            </div>
        </div>
        <h3 class="section__title">
          Upcoming Recommended Services (3)
        </h3>
        <div class="widget">
          <div class="sub__title">
            Due in next week
          </div>
          <div class="row">
            <div class="block">
              <h4>Diagnostic result for your Appointment</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum laoreet ultrices. Curabitur fermentum nisl vitae nulla aliquet, rutrum hendrerit purus rutrum.</p>
            <span class="time">September 5, 2016</span>
            </div>
            <div class="block">
              <p>Total Price:</p>
              <h1>£59.93</h1>
              <button class="button blue" type="button">Book appointment</button> <button class="button" type="button"><i class="material-icons">&#xE5D3;</i></button>
            </div>
          </div>
          <div class="row">
            <div class="block">
              <h4>Diagnostic result for your Appointment</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum laoreet ultrices. Curabitur fermentum nisl vitae nulla aliquet, rutrum hendrerit purus rutrum.</p>
            <span class="time">September 5, 2016</span>
            </div>
            <div class="block">
              <p>Total Price:</p>
              <h1>£59.93</h1>
              <button class="button blue" type="button">Book appointment</button> <button class="button" type="button"><i class="material-icons">&#xE5D3;</i></button>
            </div>
          </div>
          <div class="row">
            <div class="block">
              <h4>Diagnostic result for your Appointment</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum laoreet ultrices. Curabitur fermentum nisl vitae nulla aliquet, rutrum hendrerit purus rutrum.</p>
            <span class="time">September 5, 2016</span>
            </div>
            <div class="block">
              <p>Total Price:</p>
              <h1>£59.93</h1>
              <button class="button blue" type="button">Book appointment</button> <button class="button" type="button"><i class="material-icons">&#xE5D3;</i></button>
            </div>
          </div>
          <div class="add">
          <button type="button" class="add"><i class="material-icons">&#xE8EF;</i> View all recommended services</button>
          </div>
        </div>
      </div>
      <div class="column lg4 md12 sm12">
        <div class="widget">
          <div class="title"><h3>Complete your profile</h3></div>
          <div class="list">
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section-->

  <section>
      <div class="top__nav">
        <ul>
          <li>Ayuda <i class="material-icons">&#xE88E;</i></li>
          <li>Alertas<i class="material-icons">&#xE7F4;</i><span class="notification">4</span></li>
          <li>Carlos <i class="material-icons">&#xE5C5;</i></li>
        </ul>
      </div>

      <!--div id="container" class="container"-->
      <div id="content_chart" class="container">
        <chart-component *ngIf="loadChart"></chart-component>
      </div>

      <div id="content_map">
            <app-gmap *ngIf="loadMap"></app-gmap>
      </div>
    </section>
</main>





<!--header>

  <div class="navigation">
    <a href="#" (click)="NextPage('content_page',1)" class="item" id="logo">Inicio</a>
    <a href="#" (click)="NextPage('content_map',2)" class="item">Escuelas</a>
    <a href="#" class="item">Opcion</a>
    <a href="#" class="item">Opcion</a>
    <a href="#" class="item">Opcion</a>
    <a href="#" class="item">Opcion</a>
    <a href="#" class="item">Opcion</a>
  </div>
</header>

<div id="content_page">
  <nav id="menu" class="left-navigation slideInLeft animated">
      <button id="trigger-menu" (click)="show()" type="button" title="Menu"><span class="area"><span class="visuallyhidden">Menu</span></span></button>
      <a href="#" title="" (click)="loadMyComponent()">
          <svg title="" viewBox="0 0 512 512">
              <circle cx="256" cy="256" r="256"/>

          </svg>
          <span>Item #</span>
      </a>
      <a href="#" title="">
          <svg title="" viewBox="0 0 512.002 512.002">
              <circle cx="256.001" cy="256" r="256"/>
          </svg>
          <span>Item #</span>
      </a>
      <a href="#" title="">
          <svg title="" viewBox="0 0 512.002 512.002">
              <circle cx="256.001" cy="256" r="256"/>

          </svg>
          <span>Item #</span>
      </a>
      <a href="#" title="Pinterest de Nicolas Guenin">
          <svg title="" viewBox="0 0 512 512">
              <circle cx="256" cy="256" r="256"/>

          </svg>
          <span>Item #</span>
      </a>
      <a href="#" title="">
          <svg title="" viewBox="0 0 512 512">
              <circle cx="256" cy="256" r="256"/>
          </svg>
          <span>Item #</span>
      </a>
  </nav>

  <main>
  <section>
      <div id="container" class="container">
        <chart-component *ngIf="loadComponent"></chart-component>
      </div>
    </section>
  </main>
</div>



<div id="content_map">
      <app-gmap></app-gmap>
</div-->
