<!--The content below is only a placeholder and can be replaced.-->


<nav id="menu" class="left-navigation slideInLeft animated">
    <button id="trigger-menu" (click)="show()" type="button" title="Menu"><span class="area"><span class="visuallyhidden">Menu</span></span></button>
    <a href="#" title="" (click)="loadMyComponent()">
        <svg title="" viewBox="0 0 512 512">
            <circle cx="256" cy="256" r="256"/>

        </svg>
        <span>Item #</span>
    </a>
    <a href="#" title="">
        <svg title="" viewBox="0 0 512.002 512.002">
            <circle cx="256.001" cy="256" r="256"/>
        </svg>
        <span>Item #</span>
    </a>
    <a href="#" title="">
        <svg title="" viewBox="0 0 512.002 512.002">
            <circle cx="256.001" cy="256" r="256"/>

        </svg>
        <span>Item #</span>
    </a>
    <a href="#" title="Pinterest de Nicolas Guenin">
        <svg title="" viewBox="0 0 512 512">
            <circle cx="256" cy="256" r="256"/>

        </svg>
        <span>Item #</span>
    </a>
    <a href="#" title="">
        <svg title="" viewBox="0 0 512 512">
            <circle cx="256" cy="256" r="256"/>
        </svg>
        <span>Item #</span>
    </a>
</nav>

  <div style="text-align:center">
    <h2>
      {{ title }}
    </h2>
  </div>

<main>
<section>
    <div id="container" class="container">
      <chart-component *ngIf="loadComponent"></chart-component>
    </div>
  </section>
</main>
