<h2>Aquí estan las estadísticas!</h2>

<div class="wrapper cards">
  <div class="container">
    <div (click)="changeClass1()" id="card" class="card">
        <div id="chart_canvas">
          <div class="front">
            <combinada></combinada>
          </div>
        </div>
      <div class="back">
        <div class="content">
          <h3 class="cardTitle">Información completa</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales, mi ac vulputate blandit, libero nulla bibendum quam.</p>
        </div>
      </div>
    </div>
  </div>

   <div class="container">
    <div (click)="changeClass2()" id="card2" class="card">
      <div id="chart_canvas">
        <div class="front">
          <lineadatos></lineadatos>
        </div>
      </div>

      <div class="back">
        <div class="content">
          <h3 class="cardTitle">Información</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales, mi ac vulputate.</p>

        </div>
      </div>
    </div>
  </div>

  
</div>
