
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}


h1, h2, h3, h4, h5, h6, p{
  color: #434447;
  font-weight: 200;
}

a{
  text-decoration: none;
}

.four {
	width: 20em;
  height: 18em;
  display: block;
  margin: 1em;
}

/* COLUMNS */

.box {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 5px 2px 4px rgba(0,0,0,.5);
  -moz-box-shadow: 5px 2px 4px rgba(0,0,0,.5);
  box-shadow: 5px 2px 4px rgba(0,0,0,.5);
}



/* GRID */

.active {
    width: 60em;
    height: 50em;
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;
}

.inactive {
    width: 20em;
    height: 18em;
    -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 4s;
}

/* RESPONSIVE */


@media screen and (max-width: 479px){

  .four {
    width: 80%;
  }

  .box {
    height: 15em;
  }

}
